#text {
    height: 40px;
    /* float: right; */
}
form input {
    /* height: 15px; */
    float: right;
}
#i4c-draggable-container {
    visibility: hidden;
}
#i4c-dialogs-container {
    visibility: hidden;
}
#placeholder {
    height: 200px;
}
form button {
    background-color: black;
    color: white;
    height: 33px;
}
fieldset {
    background-color: rgb(206, 206, 206);
    height: 40px;
}